/* início da formatação do fundo da página */
    *{  
        margin: 0 auto;
        padding: 0;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1em;
        overflow-x: hidden;
    }
/* fim da formatação do fundo da página */



/* início da formatação do header */
    .cabeçalho {
        background-color: black;
        color: white;
        padding: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .divisao-logo {
        font-family:"Carosello-Regular";
        width: 50%;
    }

    @font-face {
        font-family:"Carosello-Regular";
        src: url("../fontes/fontes/Carosello-Regular.ttf");
    }

    .link-logo {
        text-decoration: none;
        color: white;
    }

    .link-logo:hover {
        color: tomato;
    }

    .link-logo .cor-span:hover {
        color: white;
    }

    .cor-span {
        color: tomato;
    }

    .divisao-links {
        font-family:"Carosello-Regular";
        width: 40%;
        font-size: 1.5em;
        text-align: center;
    }

    .divisao-links a {
        margin-left: 20px;
        text-decoration: none;
        color: white;
    }

    .divisao-links a:hover {
        color: tomato;
    }
/* fim da formatação do header */



/* início da formatação da section paralaxe (página inicial) */
    .section-paralaxe {
        background-image: url("../imagens/fundo-paralaxe.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .texto-paralaxe {
        color: white;
        margin-top: 15%;
        margin-left: 2%;
        margin-bottom: 5%;
    }

    .fonte {
        font-family:"Carosello-Regular";
    }

    #botao-paralaxe {
        margin-top: 10%;
        margin-bottom: 15%;
        width: 50%;
        padding: 8px;
        font-size: 1.5em;
        font-weight: bold;
    }
/* fim da formatação da section paralaxe (página inicial) */



/* início da formatação da section depoimentos (página inicial) */
    #depoimentos {
        display: flex;
        flex-direction: column;
        border: 2px solid tomato;
        border-radius: 20px;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .texto-depoimento {
        width: 70%;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .carrossel {
        width: 75%;
        height: 100%;
        margin-bottom: 3%;
    }
/* fim da formatação da section depoimentos (página inicial) */



/* início da formatação da section de planos (página planos) */
    .section-planos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-image: url("../imagens/turquia.jpg");
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .texto-planos {
        margin-top: 5%;
        margin-bottom: 3%;

    }

    #colunas-planos {
        margin-top: 3%;
        margin-bottom: 5%;
    }

    #conteudo-colunas {
        border: 2px solid tomato;
        border-radius: 15px;
        height: 100%;
        background-color: white;
        padding:2%;
    }

    #conteudo-colunas h2 {
        color: tomato;
        font-family:"Carosello-Regular";
    }

    #conteudo-colunas img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    #conteudo-colunas p {
        color: tomato;
        font-size: large;
        margin-top: 2%;
    }
/* fim da formatação da section de planos (página planos) */




/* início da formatação da section de contatos (página contatos) */
    .section-contato {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-contato h2 {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 70%;
    }

    .div-formulario {
        border: 2px solid tomato;
        border-radius: 15px;
        width: 75%;
        height: 100%;
        padding: 15px;
        margin-bottom: 5%;
    }

    .div-formulario input {
        margin-bottom: 3%;
        margin-top: 0.5%;
        width: 70%;
        height: 100%;
        padding: 5px;
        border: 1px solid tomato;
    }

    .div-formulario textarea {
        margin-bottom: 3%;
        margin-top: 0.5%;
        width: 60%;
        height: 100%;
        max-width: 70%;
        padding: 5px;
        border: 1px solid tomato;
    }

    .div-formulario select {
        width: 50%;
        height: 100%;
        padding: 5px;
        color: tomato;
    }

    #botao-enviar {
        margin-top: 5%;
        width: 50%;
        font-weight: bold;
    }

    .div-mapa {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
/* fim da formatação da section de contatos (página contatos) */




/* início do footer */
    .rodapé {
        background-color: black;
        display: flex;
        flex-direction: column;
        font-family:"Carosello-Regular";
    }

    .logo-rodapé {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .informações-rodapé {
        color: white;
        margin-bottom: 2%;
    }
/* fim do footer */